@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom CSS for new Theme
 * @Author: William G
 */

body {
  @apply !bg-white dark:!bg-black;
}

#__next
  > div
  > div.nextra-nav-container.nx-sticky.nx-top-0.nx-z-20.nx-w-full.nx-bg-transparent.print\:nx-hidden
  > div {
  @apply dark:!bg-black;
}

#__next
  > div
  > div.nextra-nav-container.nx-sticky.nx-top-0.nx-z-20.nx-w-full.nx-bg-transparent.print\:nx-hidden
  > nav
  > a.nx-text-sm.contrast-more\:nx-text-gray-700.contrast-more\:dark\:nx-text-gray-100.nx-relative.-nx-ml-2.nx-hidden.nx-whitespace-nowrap.nx-p-2.md\:nx-inline-block.nx-font-medium.nx-subpixel-antialiased {
  @apply hidden;
}

#__next
  > div
  > div.nextra-nav-container.nx-sticky.nx-top-0.nx-z-20.nx-w-full.nx-bg-transparent.print\:nx-hidden
  > nav
  > a.nx-text-sm.contrast-more\:nx-text-gray-700.contrast-more\:dark\:nx-text-gray-100.nx-relative.-nx-ml-2.nx-hidden.nx-whitespace-nowrap.nx-p-2.md\:nx-inline-block.nx-text-gray-600.hover\:nx-text-gray-800.dark\:nx-text-gray-400.dark\:hover\:nx-text-gray-200 {
  @apply hidden;
}

:is(html[class~="dark"] .dark\:nx-bg-dark) {
  @apply !bg-black;
}

.blinking {
  animation-name: blink;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }
  1.50% {
    transform: scaleY(0.1); /* Skew effect to mimic blinking */
  }
  3% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* .nx-p-0\.5 {
	visibility: hidden;
} */

@keyframes lineDrawToRight {
  0% {
    width: 0;
    background: linear-gradient(90deg, white, rgba(255, 255, 255, 0.1));
    background-position: 0 0;
  }
  100% {
    width: 200%;
    background: linear-gradient(90deg, white, rgba(255, 255, 255, 0.5));
    background-position: 900% 0;
  }
}

@keyframes bgWhite {
  0% {
    background: transparent;
  }
  100% {
    background: white;
  }
}

.active-sonar {
  &::before {
    animation: sonar-effect 1s ease-in-out 0.1s infinite;
  }
}

@keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px #fff, 0 0 5px 5px #fff, 0 0 0 5px #fff;
  }
  100% {
    box-shadow: 0 0 0 5px #fff, 0 0 5px 5px #fff, 0 0 0 5px #fff;
    transform: scale(1.5);
    opacity: 0;
  }
}

.btn-sonar {
  display: inline-block;
  outline: none;
  position: relative;
  width: 4px;
  height: 4px;
  background: white;
  &::after,
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
}

.border-gradient {
  background: #0b0b0b;
  background-blend-mode: screen;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
}

.community-social-bg-gradient {
  background-image: linear-gradient(to bottom, #17171780 0%, #08080833 100%);
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

details summary svg:nth-child(2) {
  display: none;
}

details[open] summary svg:nth-child(2) {
  display: block;
}

details[open] summary svg:nth-child(1) {
  display: none;
}

details[open] summary ~ * {
  animation: ease-opacity-t-b 1s ease;
}

.faq-expand::before {
  content: "+";
  color: white;
}

details[open] .faq-expand::before {
  content: "-";
  color: #ff8451;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.debug {
  @apply border border-red-600;
}

.animated-border {
  --border-width: 1px;
  position: relative;
  border: var(--border-width) solid transparent;
  border-radius: 12px;
  background-color: black;
  background-clip: padding-box;
  border-image: conic-gradient(
      from var(--angle),
      #131313 0%,
      #1f1f1f 25%,
      #131313 50%,
      #1f1f1f 75%,
      rgba(255, 255, 255, 0.4) 100%
    )
    1;
  animation: spin 4s linear infinite paused;
}

.animated-border::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border-radius: inherit;
  background-image: conic-gradient(
    from var(--angle),
    #131313 0%,
    #1f1f1f 25%,
    #131313 50%,
    #1f1f1f 75%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

.animated-border:hover {
  animation-play-state: running;
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes spin {
  to {
    --angle: 1turn;
  }
}

@supports not (background: paint(something)) {
  .animated-border {
    border-image: conic-gradient(
        #381d6a 80%,
        #e0d1ff 88%,
        #e0d1ff 92%,
        #381d6a 100%
      )
      1;
  }
}

.social-animated {
  --border-width: 1px;
  position: relative;
  border: var(--border-width) solid transparent;
  border-radius: 12px !important;

  background-clip: padding-box;
  border-image: conic-gradient(
      /* from var(--angle), */ #131313 0%,
      rgba(255, 255, 255, 0.8) 25%,
      #131313 50%,
      #1f1f1f 75%,
      rgba(255, 255, 255, 0.8) 100%
    )
    1;
  animation: socialSpin 4s linear infinite running;
}

.social-animated::before {
  content: " ";
  position: absolute;
  inset: calc(var(--border-width) * -1);
  z-index: -1;
  border-radius: 12px !important;
  background-image: conic-gradient(
    from var(--angle),
    #131313 0%,
    rgba(255, 255, 255, 0.8) 25%,
    #131313 50%,
    #1f1f1f 75%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

@property --angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes socialSpin {
  to {
    --angle: 1turn;
  }
}

@supports not (background: paint(something)) {
  .social-animated {
    border-image: conic-gradient(
        #381d6a 80%,
        #e0d1ff 88%,
        #e0d1ff 92%,
        #381d6a 100%
      )
      1;
  }
}

.customContainer {
  width: 100%;
}
@media (min-width: 640px) {
  .customContainer {
    max-width: 640px;
    @apply px-5;
  }
}
@media (min-width: 768px) {
  .customContainer {
    max-width: 768px;
    @apply px-5;
  }
}
@media (min-width: 1024px) {
  .customContainer {
    max-width: 1024px;
    @apply px-0;
  }
}
@media (min-width: 1280px) {
  .customContainer {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .customContainer {
    max-width: 1536px;
  }
}

.katex {
  font-family: "Inter", sans-serif;
  font-size: 0.95em;
}

.katex:last-child {
  margin-bottom: 0;
}

.katex-display {
  /* overflow: auto hidden; */
  margin: 0.3em 0;
}

.katex-display > .katex {
  white-space: normal;
}

.katex-display > .base {
  margin: 0.25em 0;
}

.katex .mathnormal {
  font-family: "Inter", sans-serif;
}

.tooltip {
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 90%;
  width: max-content;
}

.irys-tooltip-styles {
  background-color: #ff8451;
  color: #000000;
  width: 100px;
}

/* Home page */
.debug {
  @apply border border-red-500;
}

.custom-shadow {
  box-shadow: 0px 0px 24px 0px #ff845199 inset, 0px 0px 12px 0px #ff845129;
}

@keyframes smallFloating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* slightly rotate 5, -5 deg animation */
@keyframes rotating {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

.rotate {
  animation: rotating 1.8s infinite;
}

.float {
  animation: floating 1.5s infinite;
}

.float-small {
  animation: smallFloating 1.5s infinite;
}

.squeeze {
  animation: squeezing 2s infinite;
}

.customGradient {
  background: linear-gradient(
      to right,
      #000000cc,
      transparent 40%,
      transparent 60%,
      #000000cc
    ),
    linear-gradient(to bottom, #111111, transparent);
}

/* squeezing animation */
@keyframes squeezing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.96);
  }
  100% {
    transform: scale(1);
  }
}

/* swagger-custom.module.css */
/* WILLIAM THIS IS THE CSS FOR THE REST API SECTION */
/* Light Mode */
/* swagger-custom.module.css */

/* Light Mode */
.light .swagger-ui .topbar {
  background-color: #ffffff;
}
.light .swagger-ui .btn {
  background-color: #ff8451;
  color: #ffffff;
}
.light .swagger-ui .info,
.light .swagger-ui .opblock-description,
.light .swagger-ui .responses-inner h4,
.light .swagger-ui .parameter__name,
.light .swagger-ui .response .response-col_description,
.light .swagger-ui .opblock-summary-method,
.light .swagger-ui .opblock-summary-path {
  color: #000000;
}

/* Hack. I actually want to remove this with a custom renderer, but can't figure out how - Luke */
.light .swagger-ui .opblock-tag {
  display: none;
}

.swagger-ui .opblock-summary-operation-id {
  display: none !important;
}

/* Hack. I actually want to remove this with a custom renderer, but can't figure out how - Luke */
.dark .swagger-ui .opblock-tag {
  display: none;
}

/* Dark Mode */
.dark .swagger-ui .topbar {
  background-color: #1f2937;
}
.dark .swagger-ui .btn {
  background-color: #ff8451;
  color: #ffffff;
}
.dark .swagger-ui .info,
.dark .swagger-ui .opblock-description,
.dark .swagger-ui .responses-inner h4,
.dark .swagger-ui .parameter__name,
.dark .swagger-ui .response .response-col_description,
.dark .swagger-ui .opblock-summary-method,
.dark .swagger-ui .opblock-summary-path,
.dark .swagger-ui .col_header .parameters-col_description {
  color: #ffffff;
}
